*{
    margin:0;
    padding:0;
    text-align:center;
}
h1{
    background-color:rgb(1, 9, 9);
    color:cornsilk;
    height:5rem;
    line-height:5rem;
}
#choices{
    display:flex;
    


}
.choice{
    height:165px;
    width:25%;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.choice:hover{
    cursor:pointer;
    background-color:aquamarine;
}